body {
    margin: 0;
    background: linear-gradient(45deg, #49a09d, #5f2c82);
    font-family: sans-serif;
    font-weight: 100;
}

.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

table {
    width: 1500px;
    border-collapse:separate;
    border-spacing: 0 15px;
    overflow: hidden;
}

tr:first-child td:first-child { border-top-left-radius: 10px; }
tr:first-child td:last-child { border-top-right-radius: 10px; }
tr:last-child td:first-child { border-bottom-left-radius: 10px; }
tr:last-child td:last-child { border-bottom-right-radius: 10px; }

th,
td {
    padding: 15px;
    background-color: rgba(255,255,255,0.2);
    color: #fff;
    text-align: center;
}

thead {
    background-color: #55608f;
}